@model PhonebookMVC.ViewModels.Publications.PublicationsCreateEditVM

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Titre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt>
            Context
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Context)
        </dd>
        
     


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CreateEdit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
