@model IEnumerable<PhonebookMVC.ViewModel.ContentViewModel>
@{
    ViewBag.Title = "Home Page";
}



@if (PhonebookMVC.Services.AuthenticationService.IsLogged)
{
    <h2>News feed</h2>
<br />


    <div class="container">
        <h2>Pub # :</h2>
@foreach (var item in Model)
{
        <div class="card" style="width:400px">
            <img class="card-img-top" src="/Content/RetrieveImage/@item.ID" alt="" height=100 width=200 />
            
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Description)</h4>
                    <p class="card-text">@Html.Raw(item.Contents)</p>

</div><br><br>
        </div>
    <br><br>

}
        <br>
        </div>



}
else
{

        
        <div class="jumbotron">
            <img src="~/Images/img.png" height=100 width=100 />
            <br /><br />
            <h1>Upfbook</h1>
            <p class="lead">Made by IHIRI Othmane | FAKIR Omar | ZOUI Elmahdi</p>
        </div>
}